* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

body {
    font-size: 18px;
}

button {
    font-size: inherit;
}

/* 先考虑pc */

@media (min-width: 500px) {
    .page {
        height: 100vh;
        overflow: hidden;
        display: flex;
    }
}

.page>aside {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    flex-shrink: 0;
    border-right:1px solid #ddd;
    box-shadow: 0 0 1px 0 rgba(0,0,0,.2);
}

.page>aside>.upper {
    display: flex;
    flex-direction: column;
}

.page>aside .actions>li {
    margin: 20px 0;
}
.page>aside>.down {
    padding:20px 0;
}


.page>main {
    flex-grow: 1;
    overflow: auto;
}

.button {
    padding: 3px 10px;
}

.resume {
    max-width: 800px;
    margin: 0 auto;
}

.resume>section {
    margin: 30px 0;
}

.resume>section>h1 {
    text-align: center;
    margin: 20px;
}

.resume>section>h2 {
    text-align: center;
    margin: 20px;
}

.resume .profile {
    text-align: center;
}

.resume .skills>ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.resume .skills>ul>li {
    width: 48%;
    border: 1px solid #ddd;
    margin-top: 10px;
    padding: 10px;
}

.resume .projects {}

.resume .projects>ol {}

.resume .projects>ol>li {
    margin: 30px 0;
    border: 1px solid #ddd;
    padding: 10px;
}

.resume .projects header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.resume .projects header .name {
    margin-right: 1em;
}

.resume .projects header .start {
    display: flex;
}