* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

body {
    font-size: 18px;
}
div[v-cloak]{display:none;}
button {
    font-size: inherit;
}

/* 先考虑pc */

@media (min-width: 500px) {
    .page {
        height: 100vh;
        overflow: hidden;
        display: flex;
    }
}

.page>aside {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    flex-shrink: 0;
    border-right:1px solid #ddd;
    box-shadow: 0 0 1px 0 rgba(0,0,0,.2);
}

.page>aside>.upper {
    display: flex;
    flex-direction: column;
}

.page>aside .actions>li {
    margin: 20px 0;
}
.page>aside>.down {
    padding:20px 0;
}


.page>main {
    flex-grow: 1;
    overflow: auto;
}

.button {
    padding: 3px 10px;
}
.skills > ul > li{position: relative;}
.skills > ul > li .remove{position:absolute;top:0;right:0;}
